In [1]:
#1. Sum of two nos
num1=1
num2=6
sum = num1+num2
print("The sum of {0} and {1} is {2}".format(num1,num2,sum))

The sum of 1 and 6 is 7

In [3]:
#2.Sum of two nos with input
n1 = input("First Number :")
n2 = input("Second number")
sum = float(n1) +float(n2)
print(sum)

First Number :289999.1
second number12121
302120.1

In [4]:
#Square of a number
n1 = input("First Number :")
square = float(n1)*float(n1)
print(square)

First Number :7
49.0

In [4]:
#factorial of a number
def factorial(num):
    if num==0 or num==1:
        return 1;
    elif num<0:
        return 0
    else:
        return num*factorial(num-1)
n=6
factorial(n)

720

In [6]:
#SIMPLE INTEREST
principal=5000
rate = 4
time=3
simple_interest = (principal*rate*time)/100
print(simple_interest)

600.0

In [10]:
#Compound Interest
principal=5000
rate = 4
time=3
compound_interest = principal*(pow((1+rate/100),time))-principal
print(compound_interest)

624.3200000000006

In [11]:
#Area of circle
radius = 5;
pi = 22/7
area=pi*radius*radius
print(area)

78.57142857142857

In [18]:
# Print the Prime numbers within a selected range
start = 11
end = 25
  
for i in range(start, end+1):
    if i>1:
        for j in range(2,i):
            if(i % j==0):
                break
        else:
            print(i)

11
13
17
19
23

In [28]:
#program to check whether a number is prime or not:
number=17
if(i>1):
    for i in range(2,number-1):
        if number%i==0:
            flag=1
            break;
        else:
            flag=0
    if(flag==1):
        print("Not Prime")
    else:
        print("Prime")
else:
    print("Not prime")

Prime

In [29]:
#Program to print ASCII value of a character
c='g'
print(ord(c))

103

In [32]:
#program for sum of square of first n natural number:
n=3
sum = (n*(n+1)*(2*n+1))/6
print(sum)

14.0

In [33]:
#program for cube sum of first n natural number
n=3
sum=pow((n*(n+1)/2),2)
print(sum)

36.0

In [37]:
#python program to find sum of an array
n=[1,2,3,4]
sum=0
for i in n:
    sum = sum+i;
print(sum)

10

In [44]:
#python program to find largest number in an array
n=[1,2,111,4]
print(n[:])
#print(max(n))
# r=len(n)
# max_val=n[0]
# for i in range(1,r):
#     if n[i]>max_val:
#         max_val=n[i]
# print(max_val)

[1, 2, 111, 4]

In [46]:
#python program for array rotation
def rotate_list(arr,d,n):
    arr[:] = arr[d:n]+ arr[0:d]
    return arr
arr=[1,2,3,4,5,6]
d=2
n=len(arr)
rotate_list(arr,d,n)

[3, 4, 5, 6, 1, 2]

In [52]:
#Python program to split the array and add the first part to the end
def rotate_split(arr,d,n):
    arr[:] = arr[d:n]+ arr[0:d]
    return arr
arr=[1,2,3,4,5,6]
n=len(arr)
d=int(n/2)
rotate_split(arr,d,n)

[4, 5, 6, 1, 2, 3]

In [60]:
#python program to find reminder of array multiplication divided by n
def arr_res(arr,n):
    mul=1
    for i in range(0,len(arr)):
        mul = mul*arr[i]
    res=mul/n
    return res
arr=[1,2,3,4]
n=2
arr_res(arr,n)

24

12.0

In [61]:
#Program to check if given array is monotonic
def isMonotonic(A):
  
    return (all(A[i] <= A[i + 1] for i in range(len(A) - 1)) or
            all(A[i] >= A[i + 1] for i in range(len(A) - 1)))
A = [6, 5, 4, 4]
# Print required result
print(isMonotonic(A))

True

In [5]:
#interchange first and last term in a list
a=[1,2,3,4]
temp=a[0]
a[0]=a[len(a)-1]
a[len(a)-1]=temp
print(a)

[4, 2, 3, 1]

In [10]:
#python program to swap two elements in a list
def swap_no(list_n,pos_a,pos_b):
    temp=list_n[pos_a]
    list_n[pos_a] = list_n[pos_b]
    list_n[pos_b]=temp
    return list_n
list_n=[22,33,44,11]
a=1
b=3
swap_no(list_n,a,b)

[22, 11, 44, 33]

In [11]:
#find the length of the list naive way
def length_list(list_ex):
    count=0
    for i in list_ex:
        count = count+1
    return count
list_ex=[11,5,9,7,5,98]
length_list(list_ex)

6

In [29]:
#check whether element exist in the list
def exist_list(list_ex,number):
    count=0
    for i in range(0,len(list_ex)):
        if list_ex[i]==number:
            count=1
            break
    return count
list_ex = [1,2,3,4,5]
number = 5
count=exist_list(list_ex,number)
if count==1:
    print("Number exist")
else:
    print("Number doesnt exist")

Number exist

In [15]:
#ways to clear a list:
geek=[12,21,11,22,333]
print(geek)
geek.clear()
print(geek)

[12, 21, 11, 22, 333]
[]

In [22]:
#reversing a list in list
geek=[12,21,11,22,333]
geek.reverse()
print(geek)
#slicing techinique
list_ex = [1,2,3,4,5]
new_list=list_ex[::-1]
print(new_list)

[333, 22, 11, 21, 12]
[5, 4, 3, 2, 1]

In [27]:
#sum of elements in list
def list_sum(list_ex):
    sum=0
    for i in range(0,len(list_ex)):
        sum=sum+list_ex[i]
    return sum
list_ex = [1,2,3,4,5]
list_sum(list_ex)

15

In [32]:
#multiply of elements in list
def list_mul(list_ex):
    mul=1
    for i in range(0,len(list_ex)):
        mul=mul*list_ex[i]
    return mul
list_ex = [1,2,3,4,5]
list_mul(list_ex)

120

In [42]:
#Python program to find smallest number in a list
# def list_min(list_ex):
#     val=min(list_ex)
#     return val
# list_ex = [111,2,3,4,5]
# list_min(list_ex)
#Naive method
def list1_min(list_ex):
    temp=list_ex[0]
    for i in range(0,len(list_ex)):
        if(list_ex[i]<temp):
            temp=list_ex[i]
    return temp
list_ex1 = [111,20,30,41,51]
list_min(list_ex1)

20

In [48]:
#Python program to find largest number in a list
def list_max(list_ex):
    temp=list_ex[0]
    for i in range(0,len(list_ex)):
        if(list_ex[i]>temp):
            temp=list_ex[i]
    return temp
list_ex1 = [11,20,30,41,51]
list_max(list_ex1)

51

In [54]:
#program-to-find-n-largest-elements-from-a-list
def list_max(list_ex,n):
    list_ex.sort()
    temp=list_ex[0:n]
    return temp
list_ex1 = [11,20,30,41,51]
n=4
list_max(list_ex1,n)

[11, 20, 30, 41]

In [57]:
#Python program to print even number in a list
def list_even(list_ex):
    even_list=[]
    for i in list_ex:
        if(i%2==0):
            even_list.append(i)
    return even_list
list_ex1 = [11,20,30,41,51]
list_even(list_ex1)

[20, 30]

In [65]:
#Python program to print odd number in a list
def list_odd(list_ex):
    odd_list=[]
    for i in list_ex:
        if(i%2!=0):
            odd_list.append(i)
    return odd_list
list_ex1 = [11,20,30,41,51]
list_odd(list_ex1)

[11, 41, 51]

In [66]:
#Python program to print all positive number in a list
def list_pos(list_ex):
    pos_list=[]
    for i in list_ex:
        if(i>=0):
            pos_list.append(i)
    return pos_list
list_ex1 = [-11,20,-30,41,51]
list_pos(list_ex1)

[20, 41, 51]

In [67]:
#Python program to print all negative number in a list
def list_neg(list_ex):
    neg_list=[]
    for i in list_ex:
        if(i<0):
            neg_list.append(i)
    return neg_list
list_ex1 = [-11,20,-30,41,51]
list_neg(list_ex1)

[-11, -30]

In [69]:
#Python program to print all positive number in a range
def list_pos(start,end):
    pos_list=[]
    for i in range(start,end+1):
        if(i>=0):
            pos_list.append(i)
    return pos_list
start = -3
end=4
list_pos(start,end)

[0, 1, 2, 3, 4]

In [70]:
#Python program to print all negative number in a range
def list_neg(start,end):
    neg_list=[]
    for i in range(start,end+1):
        if(i<0):
            neg_list.append(i)
    return neg_list
start = -3
end=4
list_neg(start,end)

[-3, -2, -1]

In [73]:
#remove multiple element from a list
def rem_element(list_ex,rem_list):
    for i in rem_list:
        if i in list_ex:
            list_ex.remove(i)
    return list_ex
list_ex = [1,2,3,4,5]
rem_list=[5,2]
rem_element(list_ex,rem_list)

[1, 3, 4]

In [75]:
#remove empty list from a list
def rem_emptyList(list_ex):
    for i in list_ex:
        if i ==[]:
            list_ex.remove(i)
    return list_ex
list_ex = [100,2,22,[],4,5,[]]
rem_emptyList(list_ex)

[100, 2, 22, 4, 5]

In [ ]:
#copying a list

In [76]:
list_x=[1,2,3,4,2]
list_y=list_x
print(list_y)

[1, 2, 3, 4, 2]

In [78]:
#count occurence of an element in a list
def count_list(list_ex,number):
    count=0
    for i in list_ex:
        if i ==number:
            count=count+1
    return count
list_ex = [100,2,22,4,5,2,2]
number=22
count_list(list_ex,number)

1

In [80]:
#remove empty tuples from a list
def tuples(list_ex):
    new_list=[]
    for i in list_ex:
        if i!=():
            new_list.append(i)
    return new_list
list_ex = [(), ('ram','15','8'), (), ('laxman', 'sita'), 
          ('krishna', 'akbar', '45'), ('',''),()]
tuples(list_ex)

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

In [89]:
#program to print duplicates from a list of integers
def duplicate(list_ex):
    new_list=[] 
    list_ex.sort()
    for i in range(0,len(list_ex)-1):
        if list_ex[i]==list_ex[i+1]:
            new_list.append(list_ex[i])
    return new_list
list_ex=[1,2,3,1,4,4]
duplicate(list_ex)

[1, 4]

In [91]:
#program to find the cumulative sum of a list
#Input[10,20,30,40]
#Output[10,30,60,100]
input_list=[10,20,30,40]
sum=0
new_list=[]
for i in input_list:
    sum=sum+i
    new_list.append(sum)
print(new_list)

[10, 30, 60, 100]

In [98]:
#sum of number digits in list
input_list=[19,25,38,499]
new_list=[]
for i in input_list:
    sum=0
    for digit in str(i):
        sum+=int(digit)
    new_list.append(sum)
print(new_list)

[10, 7, 11, 22]

In [ ]:
#Break a list into chunks of size n
my_list = ['geeks', 'for', 'geeks', 'like',
           'geeky','nerdy', 'geek', 'love',
               'questions','words', 'life']
n=5

In [100]:
#sort the values of one list using the second
list1 = ["a", "b", "c", "d", "e", "f", "g", "h", "i"]
list2 = [ 0,   1,   1,    0,   1,   2,   2,   0,   1]
#output - [a,d,h,c,i,f,g]
for i in list2:

[0, 1, 1, 0, 1, 2, 2, 0, 1]